.markdown code {
  display: block;
  white-space: pre-wrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #113034;
}

.markdown p {
  display: block;
  white-space: pre-wrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #113034;
}

.markdown h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #113034;
}
