h1,
p {
  font-family: Lato;
}

.markdown code {
  display: block;
  white-space: pre-wrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #113034;
}

.markdown p {
  display: block;
  white-space: pre-wrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #113034;
}
